<header class="header" id="header">
    <nav class="container header__container">
        <a class="header__logo logo">
            <img src="images/logo.svg" alt="logo">
        </a>
        <ul class="header__list">
            <li class="header__list-item"><a href="#about" class="header__list-link">О нас</a></li>
            <li class="header__list-item"><a href="#catalog" class="header__list-link">Производители</a></li>
            <li class="header__list-item"><a href="#catalog" class="header__list-link">Каталоги</a></li>
            <li class="header__list-item"><a href="#contacts" class="header__list-link">Контакты</a></li>
        </ul>
        <a href="tel:77011101098" class="header__tel">+7 701 110 1098</a>

        <button class="button header__button modal-open" type="button">
            Оставить заявку
        </button>
        <button class="header__menu-mobile" type="button" id="menu-open" aria-label="Кнопка меню на маленьких экранах">
            <span></span><span></span><span></span>
        </button>
    </nav>
</header>